packages:
  yum:
    git: []
    postgresql93-devel: []

container_commands:
  01_migrate:
    command: "django-admin.py migrate"
    leader_only: true

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "mozio_test.settings"
    PYTHONPATH: "/opt/python/current/app/mozio-test:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "mozio-test/mozio_test/wsgi.py"