{% extends "base.html" %}
{% load staticfiles %}

{% block body_extra_attributes %}
ng-init="init({{ json_last_service_area }})"
{% endblock %}

{% block main_content %}
<h1>Search Service Areas</h1>
<p>Click anywhere on the map and you will see all the service areas where the clicked point is contained on their bounding box.</p>
<div class="results">
  {% verbatim %}
  {{ areas.length }} results
  <div ng-repeat="area in areas" class="result-item">
    <p># {{ $index + 1 }} - Service Area created at <strong>{{ area.created_at|date:"medium" }}</strong></p>

    <p ng-repeat="polygon in area.path.coordinates">
      Polygon: {{ $index }}<br>
      {{ polygon }}
      <ul>
        <li ng-repeat="point in polygon.$this"></li>
      </ul>
    </p>
  </div>
  {% endverbatim %}
</div>

{% endblock %}


{% block extra_head %}
  <script src="{% static "js/search.js" %}" type="text/javascript"></script>
  <script src="//maps.googleapis.com/maps/api/js?signed_in=true&libraries=drawing&callback=onGoogleReady" async defer></script>
{% endblock %}
